<h2>share a new dish</h2>

<form action="/dishes" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="name">

  <label for="image_url">image url</label>
  <input type="text" name="image_url" id="image_url">

  <button>share</button>
</form>